.flexRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flexCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.yellowText {
  color: #ffc107;
}
.maxWidthContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.parentWrapper {
  width: 100%;
  position: relative;
  @extend .flexCol;
}
