@import "../../utils/styles/commons.scss";

.container {
  .og {
    width: 100%;
    min-height: 100vh;
    background-size: auto 100% !important;
    background-position: top;
    background-repeat: no-repeat;
  }
  .centralHeading {
    position: fixed;
    @extend .flexCol;
    align-items: center;
    > span {
      margin-top: 0.4rem;
    }
    top: 46%;
    left: 43%;
    h1 {
      > span {
        font-size: unset;
      }
    }
  }
}
.slider {
  max-height: 30vh;
  background-color: red;
  > div {
    max-height: 30vh;
  }
}
