*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clash Display", sans-serif;
  color: white;
  font-size: 1rem;
}

:root {
  --clr-primary: rgba(253, 244, 10, 1);
}
