.slick-list .slick-slide {
  max-height: 30vh !important;
}
.slick-slider {
  z-index: 2;
}
body {
  overscroll-behavior: none !important;
  height: 100vh;
}
.slick-arrow {
  display: none !important;
}
.og1 {
  position: relative;
}
